
body{
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}

#name {
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 2;
	z-index: 100;
	text-align: center;
	transform: translate(-50%,-100%);
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2em;
	text-transform: uppercase;
	font-size: 16px;
}

#social {
	color:white;
	position: absolute;
	/* TODO: fix this */
	top: calc(50% + 95px);
	z-index: 100;
	width: 100%;
	text-align: center;
}

#social a {
	display: inline-block;
	width: 30px;
	padding: 0px 15px;
}

#social img {
	filter: invert(100%);
	width: 100%;
	height: auto;
	opacity: 0.6;
	transition: 0.1s;
}

#social img:hover {
	opacity: 1;
}

#landing {
	scroll-snap-align: start;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

#about {
	scroll-snap-align: start;
	height: 100vh;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	position: relative;
}

.about-content {
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
	padding-top: 25vh;
	display: flex;
}

#profile {
	height: 100%;
	image-orientation: from-image;
}

h1 {
	margin: 0;
	padding: 0;
}

.scroll {
	color:white;
	position: absolute;
	bottom: 5%;
	left: 50%;
	z-index: 100;
	text-align: center;
	transform: translate(-50%,-100%);
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

#description {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	padding: 1em;
	overflow-y: auto;
	overflow-x: hidden;
}

#description> p {
	margin: 0;
	padding: 0;
}

#description > a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-style: italic;
	color: #888888;
	transition: 0.2s;
}

#description > a:hover {
	opacity: 0.5;
}

