
body{
	background-color: #FFFFFF;
	overflow-x:hidden;
}

h1{
	font-family: 'Open Sans', sans-serif;
	margin: 25px 50px 0px 50px;
	padding: 25px 50px 0px 100px;
	border-style: none;
	text-align: center;
}

.tab-content p {
	font-family: 'Open Sans', sans-serif;
	margin: 10px 100px 30px 100px;
	padding: 25px 50px 30px 100px;
	background-color: #FFFFFF;
	border-style: solid;
	border-radius: 7px;
	border-width: 5px;
	border-color: #99CCCC;
	word-wrap: break-word;
}

IMG{
	display: block;
	margin: 0 auto;
}

.image{
	width: 200px;
	padding: 5%;
	display: inline-block;
}

.text{
	width: 250px;
	background:#FFF;
	opacity:0;
}

.image:hover .text {
	opacity:0.6;
	text-align:justify;
	color:#000000;
	font-size:12px;
	font-weight:100;
	font-family:'Open Sans', sans-serif;
	padding:30px;
}

.contactLogo{
	width: 5%;
	display: inline-block;
}

.contact{
	float: right;
	list-style-type: none;
}

.contactDiv{
	margin-top: 0;
	margin-bottom: 5%;
}

.tabs {
	width:75%;
	padding-left: 13%;
}

.tab-nav{
	margin: 0 -12rem;
	padding: 0.7rem 12rem;
	background: #B4E9E9;
}

.tab-nav-design{
	margin: 0 -12rem;
	padding: 0.25rem 12rem;
	background: #F3E9A8;
}

.tab-links{
	margin:0px;
	padding-left:18%;
}

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	font-family: 'Open Sans', sans-serif;
	padding:9px 15px;
	display:inline-block;
	background:#7FB5DA;
	font-size:12px;
	font-weight:600;
	color:#000000;
	transition:all linear 0.15s;
	text-decoration:none;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

.tab-content {
	padding:15px;
	border-radius:6px;
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.menu, .menu * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.menu {
	overflow:hidden;
	padding-left: 10%;
	padding-right: 10%;
	border-radius:3px;
	/*    background:#E8E8E8;
*/}

.menu-section-title {
	width:100%;
	padding:10px;
	display:inline-block;
	border-bottom:1px solid #666666;
	background: #B4D5D5;
	transition: all linear 0.15s;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #436673;
	text-decoration: none;
}

.menu-section-title.active, .menu-section-title:hover {
	background:#8EB7B7;
	text-decoration:none;
}

.menu-section:last-child .menu-section-title {
	border-bottom:none;
}

.menu-section-content {
	padding:15px;
	display:none;
	background:#E8E8E8;
}

#social {
	margin:0px auto 0px 73%;
}

#social a {
	display: inline-block;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
